.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 $gutter*2;
	position: relative;
}

.row{
	width: 100%;
	clear: both;
	display: block;
}

.col-1-4{
	float: left;
	width: 25%;
	// padding: $gutter;
}
.col-1-4{
	float: left;
	width: 25%;
	// padding: $gutter;
}
.col-3-4{
	float: left;
	width: 75%; 
	// padding: $gutter;
}
.col-2-4{
	float: left;
	width: 50%; 
	padding: $gutter;
}

@include breakpoint(medium) { 
	.col-4-4--medium{
		width: 100%;
	}
	.col-1-4--medium{
		width: 25%;
	}
	.col-1-4--medium{
		width: 25%;
	}
	.col-3-4--medium{
		width: 75%; 
	}
	.col-2-4--medium{
		width: 50%; 
	}

}

.pull-right{
	float: right;
}
.pull-left{
	float: left;
}