.header{
	width: 100%;
	background-color: $color--pop;
	background-image: url(../img/ruler.png);
	background-position: bottom;
	background-repeat: repeat-x;
}
.logo{
	float: left;
	width: 30%;
	h1{
		color: white;
		small{
			font-weight: normal;
			margin-left: -$gutter/2;
		}
	}
}

.nav{
	float: right;
	width: 70%;
	margin-top: $gutter*3.5;
	ul{
		list-style: none;
		margin: 0;
	}
	&__item{
		a{
			padding: $gutter  $gutter $gutter*0.7 $gutter;
			text-decoration: none;
			color: white;
		}
		&:hover a{
			background-color: darken($color--pop, 20%);
			@include border-radius($gutter/2);
			border-bottom: 3px solid darken($color--pop, 40%);
		}
		width: 12%;
		text-align: center;
		text-transform: uppercase;
		float: left;
		@include font-size($fontSize*0.9);
		color: white;
		padding: 0;
		ul{
			display: none;
		}
	}
	&__item--has-children ul{
		position: absolute;
	}
	&__item--has-children:hover{
		&:hover a{
			background-color: $color--stand-out;
			border-bottom: 3px solid darken($color--stand-out, 40%);
		}

		ul{
			display: block;
		}
	}
}

.module{
	@extend .clearfix;
	background-color: $color--darker;
}