//Header
.header{
	width: 100%;
	background-color: $color--pop;
	background-image: url(../img/ruler.png);
	background-position: bottom;
	background-repeat: repeat-x;
}

//Logo
.logo{
	float: left;
	width: 30%;
	h1{
		color: white;
		@include font-size($fontSize*2.3);
		small{
			font-weight: normal;
			margin-left: -$gutter/2;
		}
	}
}

//Main navigation
.nav{
	float: right;
	width: 70%;
	margin-top: $gutter*3.3;
	ul{
		list-style: none;
		margin: 0;
	}
	&__item{
		a{
			padding: $gutter  $gutter $gutter*0.7 $gutter;
			text-decoration: none;
			color: white;
		}
		&:hover a{
			background-color: darken($color--pop, 20%);
			@include border-radius($gutter/2);
			border-bottom: 3px solid darken($color--pop, 30%);
		}
		width: 12%;
		text-align: center;
		text-transform: uppercase;
		float: left;
		@include font-size($fontSize*0.9);
		color: white;
		padding: 0;
		ul{
			display: none;
		}
	}
	&__item--has-children{
		position: relative;
		border-bottom: 35px solid transparent;
		a{
			padding-left: $gutter*2;

		}
	}
	&__item--has-children:before{
		position: absolute;
		height: $gutter;
		width: $gutter;
		left: 8px;
		color: white;
		top: 2px;
		font: normal normal normal 10px/1 FontAwesome;
		content: "\f078";
	}
	&__item--has-children ul{
		position: absolute;
		width: 220px;
		margin-top: 20px;

		&:after {
			bottom: 100%;
			left: 10%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(136, 183, 213, 0);
			border-bottom-color: darken($color--stand-out, 5%);
			border-width: 5px;
			margin-left: -5px;
		}
	}

	&__item--has-children:hover{
		&:hover a{
			background-color: $color--stand-out;
			border-bottom: 3px solid darken($color--stand-out, 5%);
			margin-bottom: $gutter/2;
		}
		&:hover ul a{
			border-bottom: none;
		}
		&:hover ul a:hover{
			background-color: $color--pop;
		}
		ul{
			@include border-radius($gutter/2);
			z-index: 100;
			background-color: darken($color--stand-out, 5%);
			padding: $gutter/2 $gutter/2 0 $gutter/2;
			display: block;
			
			a{
				padding: $gutter;
				display: block;
				background-color: $color--stand-out;
			}
		}
	}
}

.mobile-menu{
	float: right;
	display: none;
	margin-top: $gutter*2;
	padding: $gutter $gutter*1.5;
	background-color: white;
	@include border-radius($gutter/2);
	cursor: pointer;
}

@include breakpoint(medium) {
	.logo{
		width: 80%;
	}
	.mobile-menu{
		display: block;
	}
	.nav-is-open{
		.nav{
			right: 0;
		}
		main{
			opacity: 0.1;
		}
	}
	.nav{
		background-color: darken($color--pop, 20%);
		position: absolute;
		margin-top: 0;
		right: 100%;
		width: 100%;
		z-index: 100;
		top: 82px;
		@include transition(right 0.3s ease);

		ul{
			margin: 0;
			padding: 0;			
		}

		&__item--has-children:hover{
			&:hover a{
				border-bottom: none;
				margin-bottom: 0;
			}
		}
		
		&__item--has-children:before,
		&__item--has-children:hover ul{
			display: none; //Unable to do child click to reveal due to time constraints
		}

		&__item{
			float: none;
			width: 100%;
			border-bottom: 1px solid darken($color--pop, 25%);

			a{
				padding: $gutter*2;
				text-decoration: none;
				color: white;
				width: 100%;
				display: block;
			}

			&:hover a{
				background-color: $color--pop;
				border: none;
				border-radius: 0;
			}

		}

	}
}


//Module blocks
.module{
	@extend .clearfix;
	@include border-radius($gutter/2);
	background-color: $color--darker;
	padding: $gutter*3;
	h3{
		margin: 0;
		font-weight: 600;
		@include font-size($fontSize-l);
	}
	p{
		margin: 0;
		@include font-size($fontSize);

	}
	
	@include breakpoint(medium) { 
		.button{
			padding: $gutter*2;
		}
	}
	@include breakpoint(small) { 
		.button{
			width: 100%;
			margin-top: $gutter;
		}
	}
}

//Feature blocks - in ul's 
.feature-list{
	@extend .clearfix;
	margin: $gutter*4 0;
	padding: 0;
	
	li{	
		float: left;
		width: 23.5%;
  		@include breakpoint(medium) { 
  			width: 49%; 
  			margin-bottom: $gutter*6;
  			&:nth-child(2){
  				margin-right: 0;
  			}
  		}

  		@include breakpoint(small) { 
  			width: 100%; 
  			margin-bottom: $gutter*4;
  			margin-left: 0;
  		}

		margin-right: 2%;
		list-style: none;
		text-align: center;
		.fa{
			color: $color--pop;
			font-size: 4.5em;
		}
		h4{
			text-transform: uppercase;
			@include font-size($fontSize-m);
		}
		.button{
			display: block;
			position:relative;
			color: white;
			top: $gutter*4;
			width: 80%;
			margin: 0 auto;
			text-transform: none;
			@include font-size($fontSize);
		}
	}
	a {
		@include border-radius($gutter/2);
		padding: $gutter*4 $gutter*2  $gutter $gutter*2;
		text-decoration: none;
		color: $color--grey;
		display: block;
		background-color: darken(white, 2%);
		border-bottom: 4px solid $color--darker;
	}
	a:hover{
		background-color: white;
		.fa{
			color: $color--stand-out;
		}
		.button{
			background-color: $color--stand-out;
			border-color: darken($color--stand-out, 20%);
		}
	}

}

.feature-list li:last-child{
	margin-right: 0;
}


.measure{
	list-style: none;
	margin: 0;
	padding: 0;
   	text-transform: uppercase;
   	font-weight: bold;
   	position: relative;
   	margin-top: $gutter*5;
  	font-size: 16px;

   	@include breakpoint(1200px) { 
		font-size: 14px;
	}
   	@include breakpoint(960px) { 
		font-size: 10px;
	}
 	@include breakpoint(medium) { 
		font-size: 14px;
	}


	li{
		float: left;
		width: 25%;
		position: relative;
	 	@include breakpoint(700px) { 
			width: 50%;
			margin-bottom: $gutter*2;
		}
	}

	.measure__graph-wrapper{
		overflow: hidden;
		text-align: center;
		position: relative
	}

	
	.measure__heading{
	   	font-size: 1.1em;
	   	text-align: center;
	   	margin-top: $gutter*1.5;
	}

	.measure__amount{
	   	font-size: 2.1em;
	   	color: $color--grey;
	   	margin-top: -1.2em;
	   	z-index: 25;
	   	position: relative;
	   	text-align: center;
	}
	.measure__graph{
		position: relative;
		background-color: $color--pop;
		overflow: hidden;
		height: 4em;
		width: 8em;
		-webkit-border-top-left-radius: 200px;
		-webkit-border-top-right-radius: 200px;
		-moz-border-radius-topleft: 200px;
		-moz-border-radius-topright: 200px;
		border-top-left-radius: 200px;
		border-top-right-radius: 200px;
		z-index: 5;
		margin: 0 auto;
	}
     .measure__graph:before{
        content: "";
   		display: block;
		position: absolute;
		background-color: $color--dark;
		z-index: 10;
		width: 6em;
		height: 6.5em;	
		top: 1em;
		right: 1em;
		@include border-radius(200px);

     }
 
   .measure__graph:after{
   		content: "";
   		display: block;
		position: absolute;
		background-color: $color--stand-out;
		width: 9em;
		height: 5em;
		left: -2em;

   }
   .measure__graph--50:after{
		left: -5em;
   }

   .measure__graph--70:after{
		-ms-transform: rotate(130deg); /* IE 9 */
		-webkit-transform: rotate(130deg); /* Chrome, Safari, Opera */
		transform: rotate(130deg);
		top: -$gutter;
   }

   .measure__graph--80:after{
		-ms-transform: rotate(150deg); /* IE 9 */
		-webkit-transform: rotate(150deg); /* Chrome, Safari, Opera */
		transform: rotate(150deg);
		top: -$gutter;
   }

   .measure__graph.measure__graph--100{
		background-color: $color--stand-out;
	}

   .measure__graph.measure__graph--100:after{
   		display: none;
   }

}

//measure
.measure-container{
	padding: 0 $gutter*2;
	@include breakpoint(small) { 
		padding: 0;
	}
}

//comment area
.comment{
	position: relative;
	background-color: white;
	padding: $gutter*2;
	font-style: italic;
	@include border-radius($gutter/2);
	p{
		margin: 0;
		z-index: 3;
		position: relative;
	}
	&__from{
		color: $color--grey;
		position: absolute;
		bottom: -$gutter*3;
		left: $gutter*7;
	   	font-style: normal;
	   	font-weight: 600;
	   	@include font-size($fontSize*1.2);
	}
	&:after{
		bottom: -30px;
		left: 20px;
		z-index: 2;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(136, 183, 213, 0);
		border-top-color: white;
		border-width: 30px;
		margin-left: -30px;
		-ms-transform: rotate(90deg); /* IE 9 */
		-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
		transform: rotate(90deg);
	}
}

//lists 
.list--arrow{
	list-style: none;
	padding-left: $gutter*2;
	li{
		position: relative;
		margin-bottom: $gutter;
		padding-left: $gutter/2;
	}
	li:before{
		position: absolute;
		height: $gutter;
		width: $gutter;
		left: -15px;
		color: $color--stand-out;
		top: 2px;
		font: normal normal normal 14px/1 FontAwesome;
		content: "\f061";
	}
}

.slider{
	text-align: center;

	h1{
		color: white;
		background-color: $color--stand-out;
		padding: $gutter*3.2 $gutter*1.5;
		line-height: 0;
		display: inline-block;
		clear: both;
		@include font-size($fontSize*4);
		@include border-radius($gutter/2);
		margin: 0;
	}
	.slider__p-container{
		display: block;	
	}
	p{
		color: white;
		background-color: rgba(0,0,0, 0.5);
		display: inline-block;
		padding: $gutter*2 $gutter*1.5;
		@include font-size($fontSize*1.2);
		max-width: 500px;
		@include border-radius($gutter/2);
	}

	@include breakpoint(small) { 
		h1{
			@include font-size($fontSize*2);
		}
		p{
			@include font-size($fontSize);
			max-width: 320px;
		}
	}

}
.owl-wrapper-outer{
	background-color: $color--grey;
	padding: $gutter*17 0;
}
.button.slider__buttom--prev,
.button.slider__buttom--next{
	position: absolute;
	left: 0;
	top: 250px;
	padding: $gutter $gutter*1.2;
	@include font-size($fontSize*3);
	color: white;
}
.button.slider__buttom--prev{
	-webkit-border-radius: 5px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius: 5px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-radius: 5px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.button.slider__buttom--next{
	right:0;
	left: auto;
	-webkit-border-radius: 0px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius: 0px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-radius: 0px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}