/*
 * === Mixings ===
 */
@mixin font-size($sizeValue: 12 ){
  font-size: $sizeValue + px; //fallback for old browsers
  font-size: (0.0625 * $sizeValue) + rem;
}


@mixin breakpoint($point) {
  // @if $point == large {
  //   @media (max-width: 64.375em) { @content; }
  // }
  @if $point == medium {
    @media (max-width: 900px) { @content; }
  }
  @else if $point == small {
    @media (max-width: 520px)  { @content; }
  } 
  @else {
    @media (max-width: $point)  { @content; } 
  }
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  
}
