/*
 * === Sections ===
 */

.section{
    background-color: white;
    padding: $gutter*4 0;
    position: relative;
}
.section--dark{
    background-color: $color--dark;
}

.section--darker{
    background-color: $color--darker;
}
.section--stand-out{
	background-image: url(../img/ruler-dark.png);
	background-position: top;
	background-repeat: repeat-x;
	text-align: center;
	padding-bottom: $gutter*23;
	@include breakpoint(medium) { 
		padding-bottom: $gutter*14;
	}
	@include breakpoint(small) { 
		padding-bottom: $gutter*4;
	}
	h2{
		color: $color--stand-out;
		text-transform: uppercase;
		@include font-size($fontSize*3);
		font-weight: 600;
		margin-bottom: 0;
	}
	p{
		margin-top: 0;
	}
	.screens{
		
		img{
			width: 100%;
			margin: 0 auto;
		}
		width: 96%;
		margin-top: $gutter*5;
		position: absolute;

		@include breakpoint(small) { 
			margin-top: $gutter*1;
			width: 100%;
			position: static;
		}
	}
}

.container.section--post-standout{
	@extend .clearfix;
	margin: $gutter*22 auto $gutter*8 auto;
	@include breakpoint(small) { 
		margin-top: $gutter*2;

	}
}